@import "../../assets/styleVariables.scss";

.shopNowContainer {
  background-color: rgba(127, 127, 127, 0);
  width: 30rem;
  align-self: center;
  height: 12rem;
  border-radius: 10000px;
  margin-left: -4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.51rem solid rgb(255, 255, 255);
  color: white;

  transition: all 0.2s ease;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    cursor: pointer;
    transform: translateY(-0.25rem);
    box-shadow: 0.25rem 0 0 1 rgba(255, 255, 255, 0.2);
  }
  &:active {
    transform: translateY(0);
    box-shadow: 0;
  }

  .shopNowText {
    font-size: 4rem;
    font-family: $monster-font;
  }
}

@media (max-width: 600px) {
  .shopNowContainer {
    &:hover {
      cursor: pointer;
      transform: translateY(0);
    }
    &:active {
      transform: translateY(0);
    }
  }
}
