@import '../../assets/styleVariables.scss';

.shopNowContainer {
  background-color: rgb(127, 127, 127);
  width: 30rem;
  align-self: center;
  height: 12rem;
  border-radius: 10000px;
  margin-left: -4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .51rem solid purple;

  transition: all .2s ease;

  &:hover {
    cursor: pointer;
    transform: translateY(-.25rem);
    box-shadow: .25rem 0 0 1 rgba(0,0,0,.2);
  }
  &:active {
    transform: translateY(0);
    box-shadow: 0;
  }

  .shopNowText {
    font-size: 4rem;
    font-family: $monster-font;
  }
}