.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 12px;

  transition: all 0.4s ease;

  .itemImg {
    height: 18rem;
  }
  .itemName {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .itemType {
    font-size: 0.8rem;
  }
  .itemPrice {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem 0.5rem rgb(0, 0, 0, 0.25);
    transform: translateY(-12px);
  }
  &:active {
    box-shadow: 0;
    transform: translateY(0);
  }
}

@media (max-width: 800px) {
  .itemContainer {
    .itemImg {
      height: 10rem;
    }
    &:hover {
      cursor: pointer;
      transform: translateY(0);
    }
    &:active {
      transform: translateY(0);
    }
  }
}
