.footerContainer {
  background-image: url("../../assets/Images/sebastiaan-stam-XbZkCaminOY-unsplash.jpg");
  background-position: center;
  background-size: cover;

  .footerContainerImage {
    background-color: rgba(255, 255, 255, 0.212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .iconContainer {
      margin-top: 2rem;
      align-self: center;
      width: 90rem;
      display: flex;
      gap: 2rem;
      align-items: center;

      .followText {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 800;
        color: white;
      }

      .icon {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .textContainer {
      height: 5rem;
      width: 30rem;
      color: white;
      text-align: center;
      font-size: 1.2rem;
      gap: 0.5rem;

      .link {
        text-decoration: none;
        color: white;
      }
    }
  }
}
