@import url("https://fonts.googleapis.com/css2?family=Eater&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

$monster-font: "eater";
$secondary-monster-font: "nosifer";

$border-color: rgba(255, 255, 255, 0.33);
$border-width: 0.2rem;
